<%- include ../partials/header%>
<div class="container">
    <div class="row">
        <% posts.forEach(function(post,i){%>
        <div class="col-md-4">
            <div class="card" >
                
                <div class="card-body">
                  <h5 class="card-title"><%= post.title%></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><a href="/category/<%= post.category[0]%>">
                    <%= post.category[0]%>
                </a></h6>

                  <p class="card-text"></p>
                  <a href="/post/<%= post.slug%>" class="btn btn-primary">View</a>
                  <a href="/post/edit/<%= post._id%>" class="btn btn-warning">Edit</a>
                  <a href="/post/delete/<%= post._id%>" class="btn btn-danger">Delete</a>
                </div>
              </div>
        </div>
        <%})%>
    </div>
</div>
<%- include ../partials/footer%>